td {
  height: 150px;
  width: 150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
  color: rgb(179, 63, 34);
  background-color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#logo {
  width: 250px;
  margin-top: -52px;
}

body {
  background-image: url('images/stock.jpg');
}

#head {
  margin-top: 30px;
}
